<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md-6 col-6 mx-auto">
            <h1 class="text-center main-heading">Contact us</h1>
            <p class="text-center sub-heading">We'll reach you</p>
            <div class="row">

                <form action="/signin" method="post" class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Name</label>

                        <input type="text" class="form-control" style="font-size:2rem; font-weight:600" id="inputEmail4"
                            placeholder="Full name" name="name">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" style="font-size:2rem; font-weight:600"
                            id="inputEmail4" placeholder="E-mail" name="email">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPassword4" class="form-label">Phone</label>
                        <input type="number" class="form-control" style="font-size:2rem; font-weight:600"
                            id="inputPassword4" name="phone" placeholder="phone no.">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Message</label>
                        <input type="text" class="form-control" style="font-size:2rem; font-weight:600" id="inputEmail4"
                            placeholder="Message" name="message">
                    </div>

                    <div class="col-12 ">
                        <button type="submit" class="btn btn-primary mt-3 "
                            style="padding:1.2rem 2.4rem; font-size:1.7rem">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>